@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html, body, #root{
    height: 100%;
}

body{
    background-color: #f1f1f4;
    font-family: 'Inter', sans-serif;
}

